body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

form {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
textarea {
  height: 120px;
}

.carousel-item {
  text-align: center;
  padding: 30px;
}
.carousel-item img {
    max-width: 100%; /* Gambar akan mengisi lebar maksimum carousel */
    height: auto; /* Tetap menjaga proporsi gambar */
    margin: auto; /* Posisi gambar di tengah secara horizontal */
  }
